<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <br>
  <p>Password</p><br>
  <%= f.password_field :password %><br>
  <br>
  <p>Confirm Password</p><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Submit" %><br>

<% end %>
