<!DOCTYPE html>
<html>
  <head>
    <title>BlogKmac</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
      </div>
    <ul>
      <li class="category">Site</li>
      <li> <%= link_to "Blog", root_path %> </li>
      <li><%= link_to "About", about_path %></li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><a href="https://github.com/kmac02">Github</a></li>
    </ul>
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
    <p class="sign_in">Login</p>
    </div>

    <div id="main_content">
      <header>
      <% if current_page?(root_path) %>
        <p>All posts</p>
        <% elsif current_page?(about_path) %>
          <p>About</p>
        <% else %>
          <%= link_to "Back to all posts", root_path %>
        <% end %>
        <div class="buttons">
        <% if current_user %>
          <button class="button"><%= link_to "New Post", new_post_path %> </button>
          <button class="button">Logout</button>
        <% end %>
        </div>
      </header>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
